*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  background-color: wheat;
}

.div_img{
  height: 300px;
  border:1px solid black;
  background-color: pink;
  text-align: center;
}

[class*="col-"] h2{
  font-size: 30px;
  text-align: center;
}

img{
  max-width: 70%;
  max-height: 70%;
}
