*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  background-color: wheat;
}

.div_img{
  height: 300px;
  border:1px solid black;
  background-color: pink;
  text-align: center;
  padding: 10px;
}

[class*="col-"] h2{
  font-size: 30px;
  text-align: center;
}

img{
  max-width: 70%;
  max-height: 70%;
}

#cont_2 img{
  width: 50%;
}
#cont_3 img{
  background-color: #256a95;
  border-radius: 50%;
  margin: 40px;


}
